.semaforo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .luz {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
.box-shadow{
  box-shadow: 0 0 15px 15px white;
}
.purple{
  background-color: purple;
}